.app-header {
    height: 40px;
    line-height: 30px;
    border-bottom: thin lightblue solid;
    padding-left: 20px;
}

.app-header .app-header--title {
    font-size: 32px;
}

.app-usage {
    font-size: 16px;
    padding: 0px 10px;
}

.app-button-area {
	padding: 0px 0px;
}

.app-button {
    font-size: 16px;
	padding: 10px 20px;
	border-radius: 10px;
    margin-top: : 0px;
}

.app-button:hover {
	background: orange;
	cursor: pointer;
}

.app-output {
	padding: 10px 50px;
}

.app-cytoscape {
	background: lightyellow;
}

.app-textarea {
    font-size: 24px;
}

/*.row:after,*/